<footer>
  <div class="container">
    <hr/>
    <p>&copy;  各位HINOCer,使用<a href="http://www.google.cn/intl/zh-CN/chrome/browser/">Chrome</a>和<a href="http://www.firefox.com.cn/download/">Firefox</a>取代你的360/IE</p>
  </div>
</footer>