<footer>
  <div class="container text-center">
    <hr/>
    <p>&copy; <a href="https://github.com/Yikun/HINOCLab">HINOCLab</a> 使用<a href="http://www.nodejs.org/">NodeJS</a> , <a href="http://getbootstrap.com/">Bootstrap</a> 还有 <a href="http://www.mongodb.org/">MongoDB</a>搭建，源码在<a href="https://github.com/Yikun/HINOCLab">Github</a>上可以看看
  </div>
</footer>