<footer>
  <div class="container text-center">
    <hr/>
    <p>&copy; 2014 HINOC 使用<a href="http://www.google.cn/intl/zh-CN/chrome/browser/">Chrome</a>和<a href="http://www.firefox.com.cn/download/">Firefox</a>效果会好些</p>
  </div>
</footer>