<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/bootstrap-3.1.1-dist/css/bootstrap.css"/>
  <script src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/jquery.json-2.4.js"></script>
  <script src="/js/html5shiv.min.js"></script>
  <script src="/js/respond.min.js"></script>
  <script src="/js/html5shiv.min.js"></script>
  <script src="/hinoc.js"></script>
</head>