<head>
  <title>HINOC Lab</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/bootstrap-3.1.1-dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
  <script src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/jquery.json-2.4.js"></script>
  <script src="/bootstrap-3.1.1-dist/js/bootstrap.js"></script>
  <script src="/js/respond.min.js"></script>
  <script src="/js/html5shiv.min.js"></script>

  
  <link rel="stylesheet" type="text/css" href="/dataTables/dataTables.bootstrap.css">
  <script type="text/javascript" language="javascript" src="/dataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="/dataTables/dataTables.bootstrap.js"></script>
  
  <div id="header_outer" class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse" wt-tracker="Header|Collapse|Toggle Navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="header_logo" class="navbar-brand" wt-tracker="Header|Logo|Goto Index" href="/" title="Worktile">HINOCLab</a>
        </div>
        <div class="navbar-collapse navbar-header-collapse collapse in" style="height: auto;">

            <ul id="header_menu" class="nav navbar-nav">
                <% if(title=="Home"){ %>
                <li class="active"><a href="home">首页</a></li>
                <li><a href="report">报告</a></li>
                <li><a href="about">关于</a></li>
                <% } else if (title=="Report"){ %>
                  <li><a href="home">首页</a></li>
                  <li class="active"><a href="report">报告</a></li>
                  <li><a href="about">关于</a></li>
                <% } else if (title=="About"){ %>
                  <li><a href="home">首页</a></li>
                  <li><a href="report">报告</a></li>
                  <li class="active"><a href="about" >关于</a></li>
                <% } else{ %>
                  <li><a href="home">首页</a></li>
                  <li><a href="report">报告</a></li>
                  <li><a href="about">关于</a></li>
                <% } %>
            </ul>

            <ul class="nav navbar-nav navbar-right ng-scope" ng-controller="user_ctrl" id="header_me">
                <li class="divider-vertical"></li>
                <% if (!user) { %>
                <li><a href="/signin" data-toggle="modal" data-target="#Signin" >登录</a></li>
                <% } else { %>
                  <li><a href="/signin" data-toggle="modal" data-target="#Modify"><%= user.name%></a></li>
                  <li><a href="/logout">退出</a></li>
                <% } %>
                
            </ul>
        </div>
</div>

<div class="modal fade" id="Signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">亲，请登陆一下，初始密码是hinoc</h4>
        </div>
        <form method="post" action="/login" >
          <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
            <h4>年级</h4>
            <select name="grade" class="form-control">
              <option>2012级</option>
              <option>2013级</option>
            </select>
            </div>
            <div class="col-md-4">
              <h4>姓名</h4>
              <select name="name" class="form-control">
              <option>班晋</option>
              <option>孙文</option>
              <option>陈中强</option>
              <option>陈露露</option>
              <option>王凤林</option>
              <option>王丽如</option>
              <option>彭露</option>
              <option>吴效颖</option>
              <option>周元海</option>
              <option>张宇</option>  
              <option>郭乐</option>
              <option>陈添财</option>
              <option>姜逸坤</option>
              <option>李雪寒</option>
              <option>鲍凯狄</option>
              <option>金淼</option>
              <option>陈君</option>
              <option>肖婷</option>
              <option>张静媛</option>
              </select>
            </div>
            <div class="col-md-4">
              <h4>密码</h4>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">确认登陆</button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% if (user) { %>
<div class="modal fade" id="Modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">修改密码</h4>
        </div>
        <form method="post" action="/modify" >
          <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
            <h4>年级</h4>
            <select name="grade" class="form-control">
              <option><%=user.grade%></option>
            </select>
            </div>
            <div class="col-md-4">
              <h4>姓名</h4>
              <select name="name" class="form-control">
              <option><%=user.name%></option>
              </select>
            </div>
            <div class="col-md-4">
              <h4>密码</h4>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">确认修改</button>
        </div>
      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% } %>
</head>