<% include layout.ejs %>
	<div class="aboutwrap">
			<div class="container">
				<div class="hinoc-logo">
					<img src="/img/404.gif" alt="">
				</div>
				<div class="col-lg-12">
					<h1>少年，不要闹！用户名或者密码是不是错了？</h1>
					<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Signin" href="">再试一次</button>
				</div>
				
			</div><!-- container -->
	</div>
		<div class="row-item2">
</div>
<% include inc/footer.ejs %>
