<% include layout.ejs %>
	<div class="aboutwrap">
			<div class="container">
				<div class="hinoc-logo">
					<img src="/img/hinoc-logo.png" alt="">
				</div>
				<div class="col-lg-12">
					<h1>高性能同轴电缆宽带接入技术实验室</h2>
				</div>
			</div><!-- container -->
	</div>
		<div class="row-item2">
</div>
<% include inc/footer.ejs %>