<% include layout.ejs %>

	<div class="headerwrap">
			<div class="container">
				<div class="hinoc-logo">
					<img src="/img/hinoc-logo.png" alt="">
				</div>
				<div class="col-lg-12">
					<h1>HINOC实验室周报系统</h2>
				</div>
			</div><!-- container -->
	</div>

	<div class="row-item2">

		<h3 class="index-title">
	        <span>Simplifies Everything</span>
	    </h3>
		<div class="col-lg-4">
            <img src="/img/i4.png" alt="帮助记录">
            <br>
            <h4>帮助记录</h4>
            看看周围伙伴们在做啥<br>
	        我们互相学习共同进步
	    </div>
        <div class="col-lg-4">
            <img src="/img/i1.png" alt="提高效率">
            <br>
            <h4>提高效率</h4>
            不用再一个个填表格汇总<br>
            汇报导出一气呵成松松的
        </div>
        <div class="col-lg-4">
            <img src="/img/i3.png" alt="资源共享">
            <br>
            <h4>资源共享</h4>
            不再好人一生平安跪求种<br>
            但目测凯狄有可能要失业
        </div>
	</div>

<% include inc/footer.ejs %>