<% include layout.ejs %>
<div class="banner">
        <div class="banner-inner">
            
            <h3>欢迎各位HINOCer访问</h3>
            <p>我还没有想好</p>

            
        </div>
</div>
<div class="container">
<div class="section">
    <p>About</p>
</div>
</div>
<% include inc/footer.ejs %>