<!DOCTYPE html>
<html>
  <% include inc/header.ejs %>
  <body>
  <div role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"></a>
      </div>
      <div class="navbar-collapse collapse">
		<a href="/" class="navbar-brand"><%=brand%></a>
        <ul class="nav navbar-nav">
    		  <% if(title=="Home"){ %>
    			  <li class="active"><a href="home"><%=title%></a></li>
    			  <li><a href="about">about</a></li>
    		  <% } else { %>
            <li><a href="home">Home</a></li>
            <li class="active"><a href="about">About</a></li>
    		  <% } %>
        </ul>
      </div>
    </div>
  </div>
  </body>
</html>